<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>User Profile Test</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/myprofile.css}">
</head>
    <body>

        <div class="main-container" layout:fragment="content1">

            <!-- HEADER -->
            <header class="block" style="font-size: 60px; color: white;">
               그래 어서오고
            </header>

            <!-- LEFT-CONTAINER --> <!-- 살려!!!!!!!!!!! -->
            <div class="left-container container">
	            <div class="profile block"> <!-- PROFILE (MIDDLE-CONTAINER) -->
                    <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
                    <div class="profile-picture big-profile-picture clear" style="text-align: center;" th:if="${body !=null  and body.userImage!=null }">
                        <img  style="color: white;" width="160px" height="160px" alt="이미지야"  
                        th:src="@{${'https://kosta-server.s3.ap-northeast-2.amazonaws.com/bodyprofile/' + body.userImage}}" >            
                    </div>
                    <h1 class="user-name"><span class="" th:text="${user.nickName}"></span></h1>

                    <div class="profile-description">
                        <p class="scnd-font-color">↑이게 닉네임이야 </p>
                    </div>
                </div>
                <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                    <h2 class="titular">USER INFO</h2>
                    
                    <ul class="menu-box-menu" style="padding-top:9%; padding-left: 1.5em;">
                        <li >
                            아이디 : <span class="" th:text="${user.userId}"></span>   
                            
                        <li>
                            이름 : <span class="" th:text="${user.userName}"></span>                           
                        </li>
                        <li>
                           주소 : <span class="" th:text="${user.userAddress.userAddress1}"></span>
                        </li>
                        <li>
                           전화번호 : <span class="" th:text="${user.userPhone}"></span>
                        </li>
                        <li>
                           이메일 : <span class="" th:text="${user.userEmail}"></span>
                        </li>                        
                    </ul>
                </div>

                <div class="line-chart-block block clear"> <!-- LINE CHART BLOCK (LEFT-CONTAINER) -->
                   
                      <!-- LINE-CHART by @kseso https://codepen.io/Kseso/pen/phiyL -->
                        <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                    <h2 class="titular"><a href="../login/profile">BODY INFO</a></h2>
                   <ul class="menu-box-menu" style="padding-top:5%; padding-left: 1.5em;">
                        <li >
                           성별 : <span class="" th:text="${body.gender}"></span>   
                            
                        <li>
                           연령 : <span class="" th:text="${body.userAge}"></span>                           
                        </li>
                        <li>
                           신장 : <span class="" th:text="${body.height}"></span>
                        </li>
                        <li>
                           몸무게 : <span class="" th:text="${body.weight}"></span>
                        </li>
                        <li>
                           BMI : <span class="" th:text="${body.userBmi}"></span>
                        </li>
                         <li>
                           업로드 날짜 : <span class="" th:text="${#dates.format(body.insertDate,'yyyy-MM-dd HH:mm')}"></span>
                        </li>                        
                    </ul>
                    
                </div>
                        <!-- END LINE-CHART by @kseso https://codepen.io/Kseso/pen/phiyL -->
                   
                    
                    
                </div>

            </div>

            <!-- MIDDLE-CONTAINER -->
            <div class="middle-container container">
                
               
                
            </div>

            <!-- RIGHT-CONTAINER -->
            <div class="right-container container">

            </div> <!-- end right-container -->
        </div> <!-- end main-container -->
    </body>

</html>