<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
@import url('https://fonts.googleapis.com/css?family=Rakkas');
body{
  background-color:#232728;
  overflow:hidden;
  font-family:'Rakkas';
}
.page-header{
  position:absolute;
  left:50%;
  top:50%;
  text-align:center;
  transform:translate(-50%, -50%);
  color:#DBAB4C;
  font-size:4em;
}
</style>
</head>
<body>
	<header class="page-header" th:fragment="header1">
		<div style="text-align : center;">
			<a href="/center/centerlist"target="_blank">
				<img id="logo" src="/image/logo2.png"  width="100px" height="100px" >
			<a>
		</div>
	</header>
</body>
</html>