<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
.item {
	list-style: none;
	border: 1px solid black;
}

</style>
</head>
<body>
<h1>내 센터 관리</h1>
<div>
	<div id="products" class="row list-group">
		<ul class="item" th:each="center:${centerlist}" th:onClick="call(this);" th:data2 ="${center.centerNum}" >
			<li><h4>[[${center.centerTitle}]]</h4></li>
			<li>[[${center.centerPhone}]]</li>
			<li>[[${center.centerArea1}]] [[${center.centerArea2}]]</li>
			<li class="star">평점 [[${center.centerPreferance}]]</li>
		</ul><br>
	</div>
	<div>
	  	<button id="addCenter" data-toggle="modal" data-target="#centerModal">
	  		추가하기</button>
	</div>
	
	<!-- Modal -->
		<div id="centerModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

    		<!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">센터 정보</h4>
		      </div>
		      <div class="modal-body">
		        <label>센터명</label>
		        <input type="text" name="centerTitle" class="form-control"><br>
		        <label>센터정보</label>
		        <input type="text" name="centerInfo" class="form-control"><br>
		        <input type="hidden" value="0" name="centerPreferance" class="form-control">
		        <label>주소</label><br>
		        <input type="text" id="sample6_postcode" placeholder="우편번호" name="AddNum"> 
				<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br><br>
				<input type="text" id="sample6_address" placeholder="주소" name="userAddress1" class="form-control"><br> 
				<input type="text" id="sample6_detailAddress" placeholder="상세주소" name="userAddress2">
				<input type="text" id="sample6_extraAddress" placeholder="참고항목" name="userAddress3"> <br> <br> 
				<input type="text" id="centerPhone" placeholder="전화번호" name="centerPhone"> <br> <br> 
		        <label>지역1</label>
		        <select name="centerArea1" id="centerArea1">
		        <option th:each="area1:${area1s}" th:value="${area1}">[[${area1}]]</option>
	      		</select><br><br>
		        <label>지역2</label>
		        <select name="centerArea2" id="centerArea2">
		        <option th:each="area:${arealist}" th:if="${area.area1}=='서울특별시'" th:value="${area.area2}">[[${area.area2}]]</option>
	      		</select>
		      </div>
		      <div class="modal-footer">
		        <button type="button" id="centerInsert" class="btn btn-default" data-dismiss="modal">추가</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		
		  </div>
		</div>
	
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/getArea.js}"></script>
<script th:src="@{/js/center.js}"></script>
<script type="text/javascript">
function call(obj){
	window.location.href="/business/centerdetail?cnum="+$(obj).attr("data2");
}

function sample6_execDaumPostcode() {
	new daum.Postcode(
			{
				oncomplete : function(data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 각 주소의 노출 규칙에 따라 주소를 조합한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var addr = ''; // 주소 변수
					var extraAddr = ''; // 참고항목 변수

					//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
					if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
						addr = data.roadAddress;
					} else { // 사용자가 지번 주소를 선택했을 경우(J)
						addr = data.jibunAddress;
					}

					// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
					if (data.userSelectedType === 'R') {
						// 법정동명이 있을 경우 추가한다. (법정리는 제외)
						// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
						if (data.bname !== ''
								&& /[동|로|가]$/g.test(data.bname)) {
							extraAddr += data.bname;
						}
						// 건물명이 있고, 공동주택일 경우 추가한다.
						if (data.buildingName !== ''
								&& data.apartment === 'Y') {
							extraAddr += (extraAddr !== '' ? ', '
									+ data.buildingName
									: data.buildingName);
						}
						// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
						if (extraAddr !== '') {
							extraAddr = ' (' + extraAddr + ')';
						}
						// 조합된 참고항목을 해당 필드에 넣는다.
						document.getElementById("sample6_extraAddress").value = extraAddr;

					} else {
						document.getElementById("sample6_extraAddress").value = '';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('sample6_postcode').value = data.zonecode;
					document.getElementById("sample6_address").value = addr;
					// 커서를 상세주소 필드로 이동한다.
					document.getElementById("sample6_detailAddress")
							.focus();
				}
			}).open();
}

$("#centerArea1").on('change',function(){		
	getManager.getArea2(this.value, printList); //지역 소구분 변경
			
});

function printList(rlist){ //지역 소구분 html 변경
	$("#centerArea2 option").remove();
	var str=""
	$.each(rlist, function(idx, item){
		str+="<option value='"+item["area2"]+"'>"+item["area2"]+"</option>";
		
	});
	$("#centerArea2").append(str);
}

$("#addCenter").on("click", function(){
  	 $("input[name='centerNum']").val("");
  	 $("input[name='centerTitle']").val("");
  	 $("input[name='centerInfo']").val("");
  	 $("input[name='centerPreferance']").val("");
  	 $("input[name='centerPhone']").val("");
  	 $("input[name='centerAddress']").val("");
  	 $("input[name='centerArea1']").val("");
  	 $("input[name='centerArea2']").val("");
  	 $("#centerModal").show();   	 
   });
   
$("#centerInsert").click(function(){
	var centerTitle= $("input[name='centerTitle']");
	var centerInfo= $("input[name='centerInfo']");
	var centerArea1=$("#centerArea1 option:selected").val();
	var centerArea2=$("#centerArea2 option:selected").val();
	var centerPhone=$("input[name='centerPhone']");
	var centerAddress= $("#sample6_address").val()+" "+$("#sample6_detailAddress").val()+"("+$("#sample6_postcode").val()+")";
	alert(centerAddress);
	var obj={ "centerTitle":centerTitle.val() , "centerInfo":centerInfo.val(),"centerPhone":centerPhone.val(), "centerArea1":centerArea1, "centerArea2":centerArea2, "centerAddress":centerAddress};
	
	if(centerTitle.val()==null){
		alert("센터명을 입력하세요.")
	}else if(centerInfo.val()==null){
		alert("센터 소개를 입력하세요.")
	}else if(centerTitle.val()==null){
		alert("센터명을 입력하세요.")
	}else{
		 centerManager.add(obj,printCenter);
		 alert("입력완료");	
		}
	
	$("#centerModal").hide();
	})

	function printCenter(center){
			console.log(center);
			var str=""
			str+="<ul class='item' th:onClick='call(this);' th:data2 ='"+center["centerNum"]+"' >";
			str+="<li><h4>"+center.centerTitle+"</h4></li>";
			str+="<li>"+center.centerPhone+"</li>";
			str+="<li>"+center.centerArea1+" "+center.centerArea2+"</td>";
			str+="<li class='star'> 평점 "+center.centerPreferance+"</td>";
			str+="</ul><br>";
		
			$("#products").append(str);
		}
</script>
</body>
</html>