<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Welcome to FitPle</title>

<style>
#videoBG{
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1;
  
}
</style>
</head>
<body>

	<div class="panel panel-default" layout:fragment="content1" >

	<video id = "videoBG" autoplay loop muted>
	<source src="image/gym.mp4" type="video/mp4">	
	</video>
		
	
	
  </div>
</body>
</html>